header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background: #fff;
}
header .header_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_wrapper .buy_btn {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  background: -o-linear-gradient(354.85deg, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(95.15deg, #F1DD38 -17.73%, #DE5307 125.96%);
  border-radius: 58px;
  border: none;
  padding: 8px 17px 8px 17px;
}
header .header_wrapper .buy_btn:hover {
  background: -o-linear-gradient(172.32deg, #F1DD38 -22.05%, #DE5307 120.35%);
  background: linear-gradient(277.68deg, #F1DD38 -22.05%, #DE5307 120.35%);
}
header .header_wrapper .menu_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .header_wrapper .menu_items .menu_item {
  margin-right: 30px;
}
header .header_wrapper .menu_items .menu_item a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #0089B6;
  text-decoration: none;
}
header .header_wrapper .menu_items .menu_item a:hover {
  text-decoration: underline;
}
header .header_wrapper .menu_items :last-child {
  margin-right: unset;
}
header .header_wrapper .menu_tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrapper .menu_tel a {
  margin-left: 10px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #0089B6;
  text-decoration: none;
}
header .header_wrapper .burger .menu_normal {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
header .header_wrapper .burger .menu_normal:hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
main .banner {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 747px;
  position: relative;
  padding-top: 200px;
}
main .banner .top_vawe {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/vawe_up.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 168px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation: scroll linear 30s infinite;
          animation: scroll linear 30s infinite;
}
main .banner .bottom_vawe {
  position: absolute;
  bottom: -73px;
  left: 0;
  background: url(../img/vawe_down.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 281px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation: scroll linear 30s infinite;
          animation: scroll linear 30s infinite;
}
@-webkit-keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000% 0;
  }
}
@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000% 0;
  }
}
main .title {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: 53px;
}
main .title h1 {
  width: 677px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  /* or 50px */
  color: #DE5307;
  border: 2px solid #FFFFFF;
}
main .promotions {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 82px;
}
main .promotions .promotions_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
}
main .promotions .promotions_title h2 {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
}
main .promotions .promotions_title a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #434343;
}
main .promotions .promotions_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main .promotions .promotions_items .promotions_item {
  width: 379px;
  height: 376px;
  background: -o-linear-gradient(344.29deg, #3FC0DF 15.48%, #5398E3 99.47%);
  background: linear-gradient(105.71deg, #3FC0DF 15.48%, #5398E3 99.47%);
  border-radius: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 30px;
}
main .promotions .promotions_items .promotions_item .item_title {
  margin-top: 21px;
  margin-bottom: 20px;
}
main .promotions .promotions_items .promotions_item .item_subtitle {
  max-width: 300px;
  margin: 0 auto;
}
main .promotions .promotions_items .promotions_item .pic {
  position: relative;
}
main .promotions .promotions_items .promotions_item .pic .pic_btn {
  position: absolute;
  top: 35%;
  padding: 7px 34px 9px 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 58px;
  background: transparent;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  opacity: 0;
  color: #FFFFFF;
  z-index: 2;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
main .promotions .promotions_items .promotions_item .pic .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .promotions .promotions_items .promotions_item .pic:hover .back {
  background: rgba(0, 0, 0, 0.35);
}
main .promotions .promotions_items .promotions_item .pic:hover .pic_btn {
  opacity: 1;
}
main .promotions .promotions_items :last-child {
  margin-right: unset;
}
main .services {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  margin-top: 82px;
  margin-bottom: 72px;
}
main .services .services_title {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
  margin-bottom: 43px;
}
main .services .services_slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}
main .services .services_slider .services_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
}
main .services .services_slider .services_navigation .services_next {
  margin-left: 15px;
}
main .services .services_slider .services_container {
  max-width: 1200px;
}
main .services .services_slider .services_container .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  height: 126px;
  background: -o-linear-gradient(336.31deg, #36D1DC -30.9%, #5B87E5 129.51%);
  background: linear-gradient(113.69deg, #36D1DC -30.9%, #5B87E5 129.51%);
  border-radius: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .services .services_slider .services_container .slider:hover {
  background: -o-linear-gradient(336.31deg, #F7971E -30.9%, #F1DD38 129.51%);
  background: linear-gradient(113.69deg, #F7971E -30.9%, #F1DD38 129.51%);
}
main .services .services_slider .services_container .slider img {
  height: 50px;
  margin-top: 20px;
}
main .services .services_slider .services_container .slider p {
  max-width: 151px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16.6292px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}
main .amusement {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
main .amusement .amusement_text .amusement_title {
  max-width: 483px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #61993B;
  margin-bottom: 31px;
}
main .amusement .amusement_text .amusement_description {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #434343;
  max-width: 511px;
}
main .amusement .amusement_text .amusement_description ul {
  margin-top: 23px;
  list-style-type: disc;
  padding-left: 20px;
}
main .amusement .amusement_text .amusement_description ul li::marker {
  width: 6px;
  height: 6px;
  color: #F4BC2C;
}
main .amusement .amusement_text .amusement_description ul li {
  margin-bottom: 16px;
}
main .amusement .amusement_text .amusement_description .btn_block {
  margin-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn a {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #3C3C3C;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn .back_circle {
  position: absolute;
  left: -15px;
  top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: -o-linear-gradient(311.91deg, #F2D134 -9.36%, #F6A724 106.6%);
  background: linear-gradient(138.09deg, #F2D134 -9.36%, #F6A724 106.6%);
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn:hover .back_circle {
  width: 115px;
  background: -webkit-gradient(linear, left top, right top, from(#F2D134), to(#F6A724));
  background: -o-linear-gradient(left, #F2D134 0%, #F6A724 100%);
  background: linear-gradient(90deg, #F2D134 0%, #F6A724 100%);
}
main .amusement .amusement_text .amusement_description .btn_block .age_btn {
  background: -o-linear-gradient(356.75deg, #61993B -12.82%, #B2CE4F 108.84%);
  background: linear-gradient(93.25deg, #61993B -12.82%, #B2CE4F 108.84%);
  border-radius: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 12px 12px 15px;
}
main .amusement .amusement_text .amusement_description .btn_block .age_btn p {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #FFFFFF;
}
main .amusement .amusement_slider {
  margin-left: 104px;
}
main .amusement .amusement_slider .kid_container .kid_wrapper {
  width: 585px;
}
main .amusement .amusement_slider .kid_container .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 585px !important;
  height: 402px;
  border-radius: 15px;
}
main .tariffs {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .tariffs .taiffs_vawe {
  position: absolute;
  top: -25px;
  right: -60px;
  z-index: 1;
}
main .tariffs .tariffs_title {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
  margin-bottom: 32px;
}
main .tariffs .table-block {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
main .tariffs .table-block table {
  width: 100%;
  border: transparent;
  padding: 10px;
}
main .tariffs .table-block table tr {
  border: 1px solid black;
}
main .tariffs .table-block table tr th {
  border: 1px solid transparent;
  height: 50px;
  width: 105px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 107%;
  /* or 17px */
  text-align: center;
  color: #0089B6;
}
main .tariffs .table-block table tr td {
  border: 1px solid transparent;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 105px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 107%;
  /* or 17px */
  text-align: center;
  color: #61993B;
}
main .tariffs .table_comment {
  margin-top: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #000000;
}
main .tariffs .table_comment .star {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  text-align: center;
  color: #0089B6;
  margin-right: 9px;
}
main .tariffs .table_comment .buy_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 117px;
}
main .tariffs .table_comment .buy_btn a {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #3C3C3C;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
main .tariffs .table_comment .buy_btn .back_circle {
  position: absolute;
  left: -15px;
  top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: -o-linear-gradient(311.91deg, #F2D134 -9.36%, #F6A724 106.6%);
  background: linear-gradient(138.09deg, #F2D134 -9.36%, #F6A724 106.6%);
}
main .tariffs .table_comment .buy_btn:hover .back_circle {
  width: 135px;
  background: -webkit-gradient(linear, left top, right top, from(#F2D134), to(#F6A724));
  background: -o-linear-gradient(left, #F2D134 0%, #F6A724 100%);
  background: linear-gradient(90deg, #F2D134 0%, #F6A724 100%);
}
main .ananas {
  margin-top: 35px;
  width: 100vw;
  height: 555px;
  background: url(../img/photo/ananas.png) no-repeat center;
  position: relative;
}
main .ananas .ananas_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
main .ananas .ananas_wrapper .ananas_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 79px;
  right: 15px;
}
main .ananas .ananas_wrapper .ananas_content .ananas_title {
  max-width: 465px;
  margin-bottom: 41px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 107%;
  /* or 43px */
  text-align: right;
  color: #FFFFFF;
}
main .ananas .ananas_wrapper .ananas_content .ananas_btn {
  max-width: 141px;
  margin-left: auto;
  border: none;
  background: -o-linear-gradient(354.85deg, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(95.15deg, #F1DD38 -17.73%, #DE5307 125.96%);
  border-radius: 58px;
  padding: 7px 23px 10px 24px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}
main .ananas .ananas_wrapper .feather {
  position: absolute;
  bottom: 0;
}
main .ananas .ananas_wrapper .left_feather {
  left: -86px;
}
main .ananas .ananas_wrapper .right_feather {
  right: -100px;
}
main .map_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 506px;
}
main .map_block .contact_info {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 84px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .map_block .contact_info .contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}
main .map_block .contact_info .contact_item img {
  margin-right: 17px;
}
main .map_block .contact_info .contact_item p,
main .map_block .contact_info .contact_item a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #434343;
  margin-right: 26px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
main .map_block .contact_info .contact_item a:hover {
  color: #0089B6;
}
main .map_block .contact_info .how_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background: -o-linear-gradient(354.85deg, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(95.15deg, #F1DD38 -17.73%, #DE5307 125.96%);
  border-radius: 58px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 8px 14px 9px 14px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .map_block .contact_info .how_btn:hover {
  background: -o-linear-gradient(172.32deg, #F1DD38 -22.05%, #DE5307 120.35%);
  background: linear-gradient(277.68deg, #F1DD38 -22.05%, #DE5307 120.35%);
}
main .map_block .map {
  position: absolute;
  width: 55%;
  right: 0;
}
main .gallery_block {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
main .gallery_block .gallery_title {
  margin: 89px 0 32px 0;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
}
main .gallery_block .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 232px);
  grid-gap: 8px;
}
main .gallery_block .gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .gallery_block .gallery .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
main .gallery_block .gallery .gallery__item {
  position: relative;
}
main .gallery_block .gallery .gallery__item .black_hover {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .gallery_block .gallery .gallery__item .insta_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
main .gallery_block .gallery .gallery__item:hover .black_hover {
  background: rgba(0, 0, 0, 0.35);
}
main .gallery_block .gallery .gallery__item:hover .insta_icon {
  opacity: 1;
}
main .gallery_block .left_vawe {
  position: absolute;
  bottom: -100px;
  left: -307px;
}
main .gallery_block .right_vawe {
  position: absolute;
  bottom: -130px;
  right: -200px;
  z-index: 1;
}
footer {
  margin-top: 171px !important;
  width: 100vw;
  height: 388px;
  background: -webkit-gradient(linear, left top, right top, from(#36D1DC), to(#5B87E5));
  background: -o-linear-gradient(left, #36D1DC 0%, #5B87E5 100%);
  background: linear-gradient(90deg, #36D1DC 0%, #5B87E5 100%);
  position: relative;
}
footer .footer_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  position: relative;
  z-index: 2;
}
footer .footer_wrapper .footer_column {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_wrapper .footer_column .column_subtitle {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
footer .footer_wrapper .footer_column .footer_column_item {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 4px;
}
footer .footer_wrapper .footer_column .footer_column_item:hover {
  text-decoration: underline;
}
footer .footer_wrapper .footer_column .logo_footer {
  width: 155px;
  height: 161px;
}
footer .footer_wrapper .footer_column .sub_logo {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 33px;
}
footer .footer_wrapper .footer_column .social_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_wrapper .footer_column .social_links a {
  margin-right: 18px;
}
footer .footer_wrapper .footer_column .social_links a img {
  width: 21px;
  height: 21px;
}
footer .footer_wrapper .footer_column .social_links :last-child {
  margin-right: unset;
}
footer .footer_wrapper .footer_column .copyrights {
  margin-top: 28px;
}
footer .footer_wrapper .footer_column .copyrights p {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}
footer .footer_wrapper .footer_column .copyrights a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer_wrapper .last_column {
  margin-top: 40px;
}
footer .footer_wrapper .last_column .site_creative {
  margin-top: 73px;
  margin-left: -40px;
}
footer .footer_wrapper .last_column .site_creative a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer_wrapper .last_column .site_creative a:hover {
  text-decoration: underline;
}
footer .anchor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
footer .footer_vawe {
  position: absolute;
  left: 0;
  top: -85px;
  z-index: 1;
  background: url(../img/footer_vawe.png) center;
  background-size: cover;
  width: 100%;
  height: 236px;
}
footer .footer_backvawe {
  position: absolute;
  left: 0;
  top: -85px;
  z-index: 0;
  background: url(../img/footer_backvawe.png) center;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 236px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-animation: scroll linear 30s infinite;
          animation: scroll linear 30s infinite;
}
@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000% 0;
  }
}
@media (max-width: 1025px) {
  header .header_wrapper {
    max-width: 600px;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .menu_items,
  header .menu_tel {
    display: none !important;
  }
  main .title {
    max-width: 320px;
    margin-bottom: 26px;
  }
  main .title h1 {
    width: 250px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
  main .promotions {
    max-width: 320px;
  }
  main .promotions .promotions_title .see_all {
    display: none;
  }
  main .promotions .promotions_title h2 {
    margin: 0 auto;
  }
  main .promotions .promotions_items .promotions_item {
    width: 290px;
    height: 286px;
    margin-right: unset;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  main .promotions .promotions_items .promotions_item img {
    width: 290px;
    height: 175px;
  }
  main .promotions .promotions_items .promotions_item .item_title {
    margin-top: 17px;
    margin-bottom: 13px;
    font-size: 14px;
  }
  main .promotions .promotions_items .promotions_item .item_subtitle {
    font-size: 14px;
  }
  main .services {
    max-width: 600px;
  }
  main .services .services_title {
    text-align: center;
  }
  main .services .services_container {
    max-width: 600px !important;
  }
  main .amusement {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .amusement .amusement_slider .kid_container .slider {
    width: 390px !important;
    height: 297px;
  }
  main .amusement .amusement_text .amusement_title {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  main .amusement .amusement_text .amusement_description {
    margin: 0 auto;
  }
  main .tariffs {
    display: none;
  }
  main .ananas .ananas_wrapper {
    max-width: 600px;
  }
  main .ananas .ananas_wrapper .feather {
    display: none;
  }
  main .map_block {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .map_block .map {
    position: relative;
    width: 100%;
  }
  main .map_block .contact_info {
    max-width: 600px;
  }
  main .gallery_block .right_vawe {
    display: none;
  }
  main .gallery_block .left_vawe {
    display: none;
  }
  footer {
    height: auto;
  }
  footer .footer_wrapper {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_wrapper .footer_column {
    width: 100%;
    position: relative;
  }
  footer .footer_wrapper .footer_column .logo_footer {
    width: 108px;
    height: 113px;
  }
  footer .footer_wrapper .footer_column .copyrights {
    display: none;
  }
  footer .footer_wrapper .footer_column .social_links {
    position: absolute;
    top: 50px;
    right: 0;
  }
  footer .footer_wrapper .footer_column .site_creative {
    margin: 0;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  header .header_wrapper .logo a img {
    width: 120px;
    height: 55px;
  }
  main .services {
    max-width: 320px;
  }
  main .services .services_container {
    max-width: 320px !important;
  }
  main .amusement {
    max-width: 320px;
  }
  main .amusement .amusement_slider {
    margin: 0 auto;
  }
  main .amusement .amusement_slider .kid_container .slider {
    width: 290px !important;
    height: 197px;
  }
  .footer_wrapper {
    padding-bottom: 30px;
  }
}
