body {
  overflow-x: hidden !important;
}
body a {
  outline: none !important;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: auto;
  background: #fff;
}
header .header_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_wrapper .buy_btn {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, color-stop(-17.73%, #F1DD38), color-stop(125.96%, #DE5307));
  background: -o-linear-gradient(right, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(to left, #F1DD38 -17.73%, #DE5307 125.96%);
  background-size: 200%;
  border-radius: 58px;
  border: none;
  padding: 8px 17px 8px 17px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_wrapper .buy_btn:hover {
  background-position: right;
}
header .header_wrapper .menu_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .header_wrapper .menu_items .menu_item {
  padding-bottom: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
  margin-right: 30px;
}
header .header_wrapper .menu_items .menu_item a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #0089B6;
  text-decoration: none;
}
header .header_wrapper .menu_items .menu_item:hover {
  border-bottom: 2px solid #0089B6;
}
header .header_wrapper .menu_items .sced_item {
  position: relative;
}
header .header_wrapper .menu_items .sced_item .popup_scedh {
  pointer-events: none;
  top: 25px;
  left: -115px;
  position: absolute;
  width: 239px;
  height: 133px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_wrapper .menu_items .sced_item .popup_scedh .popup_content {
  position: relative;
  z-index: 5;
  padding-top: 35px;
  padding-left: 18px;
  padding-right: 15px;
}
header .header_wrapper .menu_items .sced_item .popup_scedh .popup_content .popup_title {
  margin-bottom: 8px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #E37413;
}
header .header_wrapper .menu_items .sced_item .popup_scedh .popup_content .popup_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #E37413;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 157%;
  /* identical to box height, or 22px */
  color: #0089B6;
}
header .header_wrapper .menu_items .sced_item .popup_scedh .popup_content .popup_row p {
  font-weight: 500;
}
header .header_wrapper .menu_items .sced_item .popup_scedh img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header .header_wrapper .menu_items .sced_item:hover .popup_scedh {
  opacity: 1;
}
header .header_wrapper .menu_items :last-child {
  margin-right: unset;
}
header .header_wrapper .menu_tel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrapper .menu_tel a {
  margin-left: 10px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  color: #0089B6;
  text-decoration: none;
}
header .header_wrapper .burger {
  width: 31px;
}
header .header_wrapper .burger .menu_normal {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31px;
  height: 19px;
  position: relative;
}
header .header_wrapper .burger .menu_normal .burger_span {
  position: absolute;
  height: 5px;
  background-color: #0089B6;
  border-radius: 25px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
header .header_wrapper .burger .menu_normal .first_span {
  top: 0;
  width: 50%;
  left: 0;
}
header .header_wrapper .burger .menu_normal .second_span {
  top: 8.3px;
  width: 100%;
}
header .header_wrapper .burger .menu_normal .third_span {
  top: 16.6px;
  width: 50%;
  left: 50%;
}
header .header_wrapper .burger .menu_normal:hover .third_span {
  left: 0;
}
header .header_wrapper .burger .menu_normal:hover .first_span {
  left: 50%;
}
header .header_wrapper .burger .xclose {
  display: none;
  cursor: pointer;
}
header .header_popup {
  max-width: 1200px;
  border-top: 1px solid #0089B6;
  margin: 0 auto;
  height: 571px;
  padding-top: 44px;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_popup img {
  position: absolute;
  bottom: 0;
  left: 0;
}
header .header_popup .desc {
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
header .header_popup .mob {
  display: none;
}
header .header_popup .header_column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header_popup .header_column .header_column_title {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #DE5307;
}
header .header_popup .header_column a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 8px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #0089B6;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_popup .header_column a:hover {
  border-bottom: 2px solid #0089B6;
}
header .header_popup .bold_column a {
  font-weight: 800;
}
@media (max-width: 426px) {
  header {
    background: url(../img/header_m.png) center no-repeat;
    background-size: cover;
  }
  header .header_popup {
    max-width: 100%;
    height: 100vh !important;
    background: #fff;
  }
  header .header_popup .mob {
    max-width: 320px;
    margin: 0 auto;
  }
}
main {
  position: relative;
}
main .black_block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  z-index: 9;
  width: 100%;
  height: 100%;
}
main .banner {
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 747px;
  position: relative;
  padding-top: 200px;
}
main .banner .top_vawe {
  position: absolute;
  top: -10px;
  left: 0;
  background: url(../img/vawe_up.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 168px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  main .banner .top_vawe {
    top: -29px;
  }
  main .banner .bottom_vawe {
    bottom: -126px !important;
  }
}
main .banner .bottom_vawe {
  position: absolute;
  bottom: -73px;
  left: 0;
  background: url(../img/vawe_down.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 281px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000% 0;
  }
}
@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000% 0;
  }
}
@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes mover {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes mover1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes mover1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
main .title {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: -100px;
  margin-bottom: 53px;
}
main .title h1 {
  width: 677px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 110%;
  /* or 50px */
  color: #DE5307;
  border: 2px solid #FFFFFF;
}
main .title .mbuy_btn {
  display: none;
}
main .promotions {
  position: relative;
  z-index: 5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 82px;
}
main .promotions .promotions_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 31px;
}
main .promotions .promotions_title h2 {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
}
main .promotions .promotions_title a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #434343;
}
main .promotions .promotions_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
main .promotions .promotions_items .promotions_item {
  width: 379px;
  height: 376px;
  background: -o-linear-gradient(344.29deg, #3FC0DF 15.48%, #5398E3 99.47%);
  background: linear-gradient(105.71deg, #3FC0DF 15.48%, #5398E3 99.47%);
  border-radius: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 30px;
}
main .promotions .promotions_items .promotions_item .item_title {
  margin-top: 21px;
  margin-bottom: 20px;
}
main .promotions .promotions_items .promotions_item .item_subtitle {
  max-width: 300px;
  margin: 0 auto;
}
main .promotions .promotions_items .promotions_item .pic {
  position: relative;
}
main .promotions .promotions_items .promotions_item .pic .pic_btn {
  position: absolute;
  top: 35%;
  padding: 7px 34px 9px 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 58px;
  background: transparent;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  opacity: 0;
  color: #FFFFFF;
  z-index: 2;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
main .promotions .promotions_items .promotions_item .pic .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .promotions .promotions_items .promotions_item .pic:hover .back {
  background: rgba(0, 0, 0, 0.35);
}
main .promotions .promotions_items .promotions_item .pic:hover .pic_btn {
  opacity: 1;
}
main .promotions .promotions_items :last-child {
  margin-right: unset;
}
main .services {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  margin-top: 82px;
  margin-bottom: 72px;
}
main .services .services_title {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
}
main .services .services_slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
}
main .services .services_slider .services_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  cursor: pointer;
}
main .services .services_slider .services_navigation .services_next {
  margin-left: 15px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
main .services .services_slider .services_navigation .services_next:hover {
  -webkit-transform: scaleY(1.3);
      -ms-transform: scaleY(1.3);
          transform: scaleY(1.3);
}
main .services .services_slider .services_navigation .services_prev {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
main .services .services_slider .services_navigation .services_prev:hover {
  -webkit-transform: scaleY(1.3);
      -ms-transform: scaleY(1.3);
          transform: scaleY(1.3);
}
@media (min-width: 768px) {
  main .services .services_slider .swiper-pagination {
    display: none !important;
  }
}
main .services .services_slider .services_container {
  max-width: 1200px;
}
main .services .services_slider .services_container .slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 175px;
  height: 126px;
  background: -o-linear-gradient(336.31deg, #36D1DC -30.9%, #5B87E5 129.51%);
  background: linear-gradient(113.69deg, #36D1DC -30.9%, #5B87E5 129.51%);
  border-radius: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
main .services .services_slider .services_container .slider img {
  height: 50px;
  margin-top: 20px;
}
main .services .services_slider .services_container .slider p {
  max-width: 151px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16.6292px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}
main .services .services_slider .services_container .slider:hover {
  background: -o-linear-gradient(336.31deg, #F7971E -30.9%, #F1DD38 129.51%);
  background: linear-gradient(113.69deg, #F7971E -30.9%, #F1DD38 129.51%);
}
main .services .services_slider .services_container .active_slider {
  background: -o-linear-gradient(336.31deg, #F7971E -30.9%, #F1DD38 129.51%);
  background: linear-gradient(113.69deg, #F7971E -30.9%, #F1DD38 129.51%);
}
main .amusement {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
main .amusement .side_text {
  position: absolute;
  left: -133px;
}
main .amusement .amusement_text .amusement_title {
  max-width: 483px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #61993B;
  margin-bottom: 31px;
}
main .amusement .amusement_text .amusement_description {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #434343;
  max-width: 511px;
}
main .amusement .amusement_text .amusement_description ul {
  margin-top: 23px;
  list-style-type: disc;
  padding-left: 20px;
}
main .amusement .amusement_text .amusement_description ul li::marker {
  width: 6px;
  height: 6px;
  color: #F4BC2C;
}
main .amusement .amusement_text .amusement_description ul li {
  margin-bottom: 16px;
}
main .amusement .amusement_text .amusement_description .btn_block {
  margin-top: 26px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 483px;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 10px;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn a {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #3C3C3C;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn .back_circle {
  position: absolute;
  left: -15px;
  top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: -o-linear-gradient(311.91deg, #F2D134 -9.36%, #F6A724 106.6%);
  background: linear-gradient(138.09deg, #F2D134 -9.36%, #F6A724 106.6%);
}
main .amusement .amusement_text .amusement_description .btn_block .more_btn:hover .back_circle {
  width: 115px;
  background: -webkit-gradient(linear, left top, right top, from(#F2D134), to(#F6A724));
  background: -o-linear-gradient(left, #F2D134 0%, #F6A724 100%);
  background: linear-gradient(90deg, #F2D134 0%, #F6A724 100%);
}
main .amusement .amusement_text .amusement_description .btn_block .age_btn {
  background: -o-linear-gradient(356.75deg, #61993B -12.82%, #B2CE4F 108.84%);
  background: linear-gradient(93.25deg, #61993B -12.82%, #B2CE4F 108.84%);
  border-radius: 46px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 12px 12px 15px;
}
main .amusement .amusement_text .amusement_description .btn_block .age_btn p {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #FFFFFF;
}
main .amusement .amusement_slider {
  margin-left: 104px;
}
main .amusement .amusement_slider .kid_container .kid_wrapper {
  width: 585px;
}
main .amusement .amusement_slider .kid_container .vawe {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: 2;
}
main .amusement .amusement_slider .kid_container .vawe_bottom {
  position: absolute;
  bottom: -40px;
  left: -40px;
  z-index: 2;
}
main .amusement .amusement_slider .kid_container .navigation_block {
  position: absolute;
  bottom: 12px;
  right: 39px;
  z-index: 5;
}
main .amusement .amusement_slider .kid_container .navigation_block .kid_arrow {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  fill: none;
}
main .amusement .amusement_slider .kid_container .navigation_block .kid_arrow path {
  stroke: white;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .amusement .amusement_slider .kid_container .navigation_block .kid_arrow:hover {
  fill: #fff;
}
main .amusement .amusement_slider .kid_container .navigation_block .kid_arrow:hover path {
  stroke: #DE5307;
}
main .amusement .amusement_slider .kid_container .navigation_block .next_arrow {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}
main .amusement .amusement_slider .kid_container .navigation_block .prev_arrow {
  cursor: pointer;
}
main .amusement .amusement_slider .kid_container .swiper-slide .slider {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 585px !important;
  height: 402px;
  border-radius: 15px;
}
main .tariffs {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .tariffs .tariffs_vawe {
  position: absolute;
  top: -25px;
  right: -60px;
  z-index: 1;
}
main .tariffs .tariffs_title {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
  margin-bottom: 32px;
}
main .tariffs .table-block {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
main .tariffs .table-block table {
  width: 100%;
  border: transparent;
  padding: 10px;
}
main .tariffs .table-block table tr {
  border: 1px solid black;
}
main .tariffs .table-block table tr .black {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 200%;
  /* or 17px */
  text-align: center;
  color: #434343;
  padding: 10px;
  border: 1px solid #0089B6;
  border-top: 1px solid transparent;
}
main .tariffs .table-block table tr .empty {
  border-right: 1px solid #0089B6;
}
main .tariffs .table-block table tr th {
  border: 1px solid transparent;
  height: auto;
  width: 105px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 107%;
  /* or 17px */
  text-align: center;
  color: #0089B6;
  padding: 12px;
  border-bottom: 1px solid #0089B6;
}
main .tariffs .table-block table tr th:nth-child(4n+4) {
  border-right: 1px solid #0089B6;
}
main .tariffs .table-block table tr th:last-child {
  border-right: 1px solid transparent;
}
main .tariffs .table-block table tr .deep_blue {
  border-bottom: 1px solid transparent;
  border-right: 1px solid #0089B6;
}
main .tariffs .table-block table tr td {
  border: 1px solid transparent;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 105px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 107%;
  /* or 17px */
  text-align: center;
  color: #61993B;
}
main .tariffs .table-block table tr td:nth-child(5n+5) {
  border-right: 1px solid #0089B6;
}
main .tariffs .table_comment {
  margin-top: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  color: #000000;
}
main .tariffs .table_comment .star {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 107%;
  /* or 19px */
  text-align: center;
  color: #0089B6;
  margin-right: 9px;
}
main .tariffs .table_comment .buy_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 117px;
}
main .tariffs .table_comment .buy_btn a {
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #3C3C3C;
  position: relative;
  z-index: 1;
  text-decoration: none;
}
main .tariffs .table_comment .buy_btn .back_circle {
  position: absolute;
  left: -15px;
  top: -7px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: -o-linear-gradient(311.91deg, #F2D134 -9.36%, #F6A724 106.6%);
  background: linear-gradient(138.09deg, #F2D134 -9.36%, #F6A724 106.6%);
}
main .tariffs .table_comment .buy_btn:hover .back_circle {
  width: 135px;
  background: -webkit-gradient(linear, left top, right top, from(#F2D134), to(#F6A724));
  background: -o-linear-gradient(left, #F2D134 0%, #F6A724 100%);
  background: linear-gradient(90deg, #F2D134 0%, #F6A724 100%);
}
main .ananas {
  margin-top: 35px;
  width: 100vw;
  height: 555px;
  background: url(../img/photo/ananas.png) no-repeat center;
  position: relative;
}
main .ananas .ananas_wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
main .ananas .ananas_wrapper .ananas_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 79px;
  right: 15px;
}
main .ananas .ananas_wrapper .ananas_content .ananas_title {
  max-width: 465px;
  margin-bottom: 41px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 107%;
  /* or 43px */
  text-align: right;
  color: #FFFFFF;
}
main .ananas .ananas_wrapper .ananas_content .ananas_btn {
  max-width: 141px;
  margin-left: auto;
  border: none;
  background: -webkit-gradient(linear, right top, left top, color-stop(-17.73%, #F1DD38), color-stop(125.96%, #DE5307));
  background: -o-linear-gradient(right, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(to left, #F1DD38 -17.73%, #DE5307 125.96%);
  background-size: 200%;
  border-radius: 58px;
  padding: 7px 23px 10px 24px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .ananas .ananas_wrapper .ananas_content .ananas_btn:hover {
  background-position: right;
}
main .ananas .ananas_wrapper .feather {
  position: absolute;
  bottom: 0;
}
main .ananas .ananas_wrapper .left_feather {
  left: -86px;
}
main .ananas .ananas_wrapper .right_feather {
  right: -100px;
}
main .ananas .ananas_wrapper .ananas_vawe {
  position: absolute;
  bottom: 0;
  left: 105px;
}
main .ananas .ananas_wrapper .another_vawe {
  left: 340px;
  bottom: 115px;
}
main .map_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 506px;
}
main .map_block .contact_info {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 84px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .map_block .contact_info .contact_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}
main .map_block .contact_info .contact_item .clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
main .map_block .contact_info .contact_item img {
  margin-right: 17px;
}
main .map_block .contact_info .contact_item p,
main .map_block .contact_info .contact_item a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #434343;
  margin-right: 26px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
main .map_block .contact_info .contact_item a:hover {
  color: #0089B6;
}
main .map_block .contact_info .how_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background: -webkit-gradient(linear, right top, left top, color-stop(-17.73%, #F1DD38), color-stop(125.96%, #DE5307));
  background: -o-linear-gradient(right, #F1DD38 -17.73%, #DE5307 125.96%);
  background: linear-gradient(to left, #F1DD38 -17.73%, #DE5307 125.96%);
  background-size: 200%;
  border-radius: 58px;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  padding: 8px 14px 9px 14px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .map_block .contact_info .how_btn:hover {
  background-position: right;
}
main .map_block .map {
  position: absolute;
  width: 55%;
  right: 0;
}
main .gallery_block {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
main .gallery_block .gallery_title {
  margin: 89px 0 32px 0;
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 107%;
  /* or 37px */
  color: #0089B6;
}
main .gallery_block .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 232px);
  grid-gap: 8px;
}
main .gallery_block .gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .gallery_block .gallery .gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
main .gallery_block .gallery .gallery__item {
  position: relative;
}
main .gallery_block .gallery .gallery__item .black_hover {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .gallery_block .gallery .gallery__item .insta_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
main .gallery_block .gallery .gallery__item:hover .black_hover {
  background: rgba(0, 0, 0, 0.35);
}
main .gallery_block .gallery .gallery__item:hover .insta_icon {
  opacity: 1;
}
main .gallery_block .left_vawe {
  position: absolute;
  bottom: -100px;
  left: -307px;
}
main .gallery_block .right_vawe {
  position: absolute;
  bottom: -130px;
  right: -200px;
  z-index: 1;
}
footer {
  margin-top: 171px !important;
  width: 100vw;
  height: 388px;
  background: -webkit-gradient(linear, left top, right top, from(#36D1DC), to(#5B87E5));
  background: -o-linear-gradient(left, #36D1DC 0%, #5B87E5 100%);
  background: linear-gradient(90deg, #36D1DC 0%, #5B87E5 100%);
  position: relative;
}
footer .footer_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  position: relative;
  z-index: 2;
}
footer .footer_wrapper .footer_column {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer_wrapper .footer_column .column_subtitle {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
footer .footer_wrapper .footer_column .footer_column_item {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 4px;
}
footer .footer_wrapper .footer_column .footer_column_item:hover {
  color: #F3CA32;
}
footer .footer_wrapper .footer_column .logo_footer {
  width: 155px;
  height: 161px;
}
footer .footer_wrapper .footer_column .sub_logo {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 33px;
}
footer .footer_wrapper .footer_column .social_links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_wrapper .footer_column .social_links a {
  margin-right: 18px;
}
footer .footer_wrapper .footer_column .social_links a svg {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer_wrapper .footer_column .social_links a:hover svg path {
  fill: #F3CA32;
}
footer .footer_wrapper .footer_column .social_links :last-child {
  margin-right: unset;
}
footer .footer_wrapper .footer_column .copyrights {
  margin-top: 28px;
}
footer .footer_wrapper .footer_column .copyrights p {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
}
footer .footer_wrapper .footer_column .copyrights a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer_wrapper .footer_column .copyrights a:hover {
  color: #F3CA32;
}
footer .footer_wrapper .last_column {
  margin-top: 40px;
}
footer .footer_wrapper .last_column .site_creative {
  margin-top: 95px;
  margin-left: -40px;
}
footer .footer_wrapper .last_column .site_creative a {
  font-family: 'Rounded Mplus 1c';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-decoration: none;
  color: #FFFFFF;
}
footer .footer_wrapper .last_column .site_creative a:hover {
  color: #F3CA32;
}
footer .anchor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
footer .footer_vawe {
  position: absolute;
  left: 0;
  top: -85px;
  z-index: 1;
  background: url(../img/footer_vawe.png) center;
  background-size: cover;
  width: 100%;
  height: 236px;
}
footer .footer_backvawe {
  position: absolute;
  left: 0;
  top: -85px;
  z-index: 0;
  background: url(../img/footer_backvawe.png) center;
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  height: 236px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 1025px) {
  .ananas_vawe {
    display: none;
  }
  header .header_wrapper {
    max-width: 600px;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .menu_items,
  header .menu_tel,
  header .buy_btn {
    display: none !important;
  }
  header .header_popup {
    max-width: 320px;
    padding-top: 15px;
  }
  header .header_popup .desc {
    display: none !important;
  }
  header .header_popup .mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  header .header_popup .mob .mob_sced {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 52px 0 59px;
    margin-bottom: 34px;
  }
  header .header_popup .mob .mob_sced .sced_title {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #E37413;
    margin-bottom: 7px;
  }
  header .header_popup .mob .mob_sced .sced_content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_popup .mob .mob_sced .sced_content .days p {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 157%;
    /* identical to box height, or 22px */
    color: #0089B6;
  }
  header .header_popup .mob .mob_sced .sced_content .times p {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    /* identical to box height, or 22px */
    text-align: right;
    color: #0089B6;
  }
  header .header_popup .mob .mob_menu .mob_menu_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header_popup .mob .mob_menu .mob_menu_items a {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;
    color: #0089B6;
    margin-bottom: 10px;
    text-decoration: none;
  }
  header .header_popup .mob .mob_menu .openable_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 287px;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .openable_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #0089B6;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .openable_title img {
    position: relative;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .openable_title p {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-transform: uppercase;
    color: #DE5307;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .closed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .closed a {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #0089B6;
    margin-top: 15px;
    text-decoration: none;
  }
  header .header_popup .mob .mob_menu .openable_menu .openable_menu_items .closed a:last-child {
    margin-bottom: 15px;
  }
  header .header_popup .mob .mob_menu .openable_menu .non_open .closed {
    display: none;
  }
  header .header_popup .mob .mob_menu .openable_menu .opened .closed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  header .header_popup .mob .mob_menu .openable_menu .opened .openable_title img {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  header .header_popup .mob .mob_menu .mob_phone {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 17px;
  }
  header .header_popup .mob .mob_menu .mob_phone a {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #0089B6;
    text-decoration: none;
    margin-left: 8px;
  }
  main .title {
    max-width: 320px;
    margin-bottom: 26px;
  }
  main .title h1 {
    width: 250px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
  }
  main .promotions {
    max-width: 320px;
  }
  main .promotions .promotions_title .see_all {
    display: none;
  }
  main .promotions .promotions_title h2 {
    margin: 0 auto;
  }
  main .promotions .promotions_items .promotions_item {
    width: 290px;
    height: 286px;
    margin-right: unset;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  main .promotions .promotions_items .promotions_item img {
    width: 290px;
    height: 175px;
  }
  main .promotions .promotions_items .promotions_item .item_title {
    margin-top: 17px;
    margin-bottom: 13px;
    font-size: 14px;
  }
  main .promotions .promotions_items .promotions_item .item_subtitle {
    font-size: 14px;
  }
  main .services {
    max-width: 600px;
  }
  main .services .services_title {
    text-align: center;
    margin-bottom: 43px;
  }
  main .services .services_container {
    max-width: 600px !important;
  }
  main .amusement {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .amusement .amusement_slider .kid_container .slider {
    width: 390px !important;
    height: 297px;
  }
  main .amusement .amusement_text .amusement_title {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  main .amusement .amusement_text .amusement_description {
    margin: 0 auto;
  }
  main .tariffs .tariffs_vawe {
    display: none;
  }
  main .tariffs .tariffs_title {
    font-size: 20px;
    line-height: 107%;
    /* or 21px */
    text-align: center;
    color: #0089B6;
  }
  main .tariffs .table-block {
    display: none;
  }
  main .tariffs .mtable_block {
    width: 320px;
    margin: 0 auto;
    display: block;
  }
  main .tariffs .mtable_block table {
    margin-bottom: 33px;
  }
  main .tariffs .mtable_block table th {
    padding: 10px;
    border-bottom: 1px solid #0089B6;
    border-right: 1px solid #0089B6;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 107%;
    /* identical to box height, or 15px */
    text-align: center;
    vertical-align: middle;
    color: #434343;
  }
  main .tariffs .mtable_block table th:last-child {
    border-right: none;
  }
  main .tariffs .mtable_block table td {
    border-bottom: 1px solid #0089B6;
    border-top: 1px solid #0089B6;
    padding: 10px;
  }
  main .tariffs .mtable_block table .light_blue {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 107%;
    /* or 11px */
    text-align: center;
    color: #0089B6;
  }
  main .tariffs .mtable_block table .green {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 107%;
    /* or 11px */
    text-align: center;
    color: #61993B;
  }
  main .tariffs .mtable_block table .green:first-child {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 107%;
    /* or 11px */
    text-align: left;
    color: #0089B6;
    border-right: 1px solid #0089B6;
  }
  main .tariffs .table_comment {
    width: 320px;
    margin: 0 auto;
  }
  main .tariffs .table_comment p {
    display: none;
  }
  main .tariffs .table_comment .buy_btn {
    margin-left: auto;
  }
  main .tariffs .table_comment .buy_btn .back_circle {
    width: 135px;
    background: -o-linear-gradient(354.85deg, #F1DD38 -17.73%, #DE5307 125.96%);
    background: linear-gradient(95.15deg, #F1DD38 -17.73%, #DE5307 125.96%);
  }
  main .tariffs .table_comment .buy_btn a {
    color: #fff;
  }
  main .ananas .ananas_wrapper {
    max-width: 600px;
  }
  main .ananas .ananas_wrapper .feather {
    display: none;
  }
  main .map_block {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .map_block .map {
    position: relative;
    width: 100%;
  }
  main .map_block .contact_info {
    max-width: 600px;
  }
  main .gallery_block .right_vawe {
    display: none;
  }
  main .gallery_block .left_vawe {
    display: none;
  }
  footer {
    height: auto;
  }
  footer .footer_wrapper {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_wrapper .footer_column {
    width: 100%;
    position: relative;
  }
  footer .footer_wrapper .footer_column .logo_footer {
    width: 108px;
    height: 113px;
  }
  footer .footer_wrapper .footer_column .copyrights {
    display: none;
  }
  footer .footer_wrapper .footer_column .social_links {
    position: absolute;
    top: 50px;
    right: 0;
  }
  footer .footer_wrapper .footer_column .site_creative {
    margin: 0;
    margin-top: 20px;
  }
}
.m_content,
.mtable_block,
.msee_all {
  display: none;
}
@media (min-width: 600px) {
  .m_sced {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .m_sced {
    display: block;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #0089B6;
  }
  .sced_item {
    position: relative;
  }
  .sced_item .popup_scedh {
    pointer-events: none;
    top: 25px;
    left: -115px;
    position: absolute;
    width: 239px;
    height: 133px;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .sced_item .popup_scedh .popup_content {
    position: relative;
    z-index: 5;
    padding-top: 35px;
    padding-left: 18px;
    padding-right: 15px;
  }
  .sced_item .popup_scedh .popup_content .popup_title {
    margin-bottom: 8px;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #E37413;
  }
  .sced_item .popup_scedh .popup_content .popup_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #E37413;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 157%;
    /* identical to box height, or 22px */
    color: #0089B6;
  }
  .sced_item .popup_scedh .popup_content .popup_row p {
    font-weight: 500;
  }
  .sced_item .popup_scedh img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .sced_item:hover .popup_scedh {
    opacity: 1;
  }
  header .header_wrapper {
    max-width: 320px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_wrapper .logo a img {
    width: 120px;
    height: 55px;
  }
  main .banner {
    height: 373px !important;
  }
  main .title .mbuy_btn {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
    background: -webkit-gradient(linear, right top, left top, color-stop(-17.73%, #F1DD38), color-stop(125.96%, #DE5307));
    background: -o-linear-gradient(right, #F1DD38 -17.73%, #DE5307 125.96%);
    background: linear-gradient(to left, #F1DD38 -17.73%, #DE5307 125.96%);
    background-size: 200%;
    border-radius: 58px;
    border: none;
    padding: 8px 17px 8px 17px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 37px;
  }
  main .title .mbuy_btn:hover {
    background-position: right;
  }
  main .promotions .msee_all {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    margin-top: 13px;
    background: transparent;
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #434343;
  }
  main .services {
    max-width: 320px;
  }
  main .services .services_slider .services_container {
    max-width: 320px !important;
  }
  main .services .services_slider .services_container .slider {
    width: 139px;
    height: 100px;
  }
  main .services .services_slider .services_container .slider img {
    height: 39px;
    margin-top: 16px;
  }
  main .services .services_slider .services_container .slider p {
    font-size: 14px;
    line-height: 14px;
  }
  main .services .services_slider .services_container .slider:hover {
    background: -o-linear-gradient(336.31deg, #36D1DC -30.9%, #5B87E5 129.51%);
    background: linear-gradient(113.69deg, #36D1DC -30.9%, #5B87E5 129.51%);
  }
  main .services .services_slider .swiper-pagination {
    display: block;
    bottom: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  main .services .services_slider .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin-right: 4px;
  }
  main .services .services_slider .swiper-pagination .swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
  }
  main .amusement {
    max-width: 320px;
    margin-bottom: 28px;
  }
  main .amusement .amusement_slider {
    margin: 0 auto;
  }
  main .amusement .amusement_slider .kid_container {
    width: 320px;
  }
  main .amusement .amusement_slider .kid_container .swiper-slide .slider {
    width: 287px !important;
    height: 197px;
    margin-left: 20px;
  }
  main .amusement .amusement_slider .kid_container .swiper-slide .slider img {
    width: 287px;
    height: 197px;
  }
  main .amusement .amusement_slider .kid_container .vawe,
  main .amusement .amusement_slider .kid_container .vawe_bottom {
    height: 60px;
  }
  main .amusement .amusement_slider .kid_container .vawe {
    right: 0;
    top: 0;
  }
  main .amusement .amusement_slider .kid_container .vawe_bottom {
    left: 0;
    bottom: 0;
  }
  main .amusement .amusement_text .amusement_title {
    font-size: 20px;
    line-height: 107%;
    margin-bottom: 15px;
  }
  main .amusement .amusement_text .amusement_description .btn_block .more_btn .back_circle {
    width: 115px;
    background: -o-linear-gradient(356.75deg, #EDC22E -12.82%, #E37613 108.84%);
    background: linear-gradient(93.25deg, #EDC22E -12.82%, #E37613 108.84%);
  }
  main .amusement .amusement_text .amusement_description .btn_block .more_btn a {
    color: #fff;
  }
  main .ananas {
    background: url(../img/photo/ananas_m.png) no-repeat center;
    background-size: cover;
    height: 290px;
    margin-top: -35px;
  }
  main .ananas .ananas_wrapper {
    max-width: 320px;
  }
  main .ananas .ananas_wrapper .ananas_content {
    bottom: 19px;
  }
  main .ananas .ananas_wrapper .ananas_content .ananas_title {
    font-family: 'Rounded Mplus 1c';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 107%;
    /* or 21px */
    text-align: right;
    color: #FFFFFF;
    max-width: 125px;
    margin-bottom: 15px;
  }
  main .map_block .contact_info {
    max-width: 320px;
    margin-top: 29px;
  }
  main .map_block .contact_info .contact_item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .map_block .contact_info .contact_item .clock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .map_block .contact_info .contact_item .clock p {
    margin-bottom: 10px;
  }
  main .map_block .contact_info .contact_item p,
  main .map_block .contact_info .contact_item a {
    font-size: 16px;
    line-height: 19px;
  }
  main .map_block .contact_info .how_btn {
    display: none;
  }
  main .gallery_block {
    max-width: 320px;
  }
  main .gallery_block .gallery_title {
    font-family: Rounded Mplus 1c;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 107%;
    /* or 21px */
    text-align: center;
    color: #0089B6;
    margin: 29px 0 21px 0;
  }
  main .gallery_block .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 143px);
    grid-gap: 6px;
  }
  .anchor {
    top: -120px !important;
  }
  footer {
    background: -webkit-gradient(linear, left top, right top, color-stop(-239.12%, #36D1DC), color-stop(361.82%, #5B87E5));
    background: -o-linear-gradient(left, #36D1DC -239.12%, #5B87E5 361.82%);
    background: linear-gradient(90deg, #36D1DC -239.12%, #5B87E5 361.82%);
  }
  footer .footer_vawe {
    top: -51px;
  }
  footer .footer_backvawe {
    top: -47px;
  }
  .footer_wrapper {
    padding-bottom: 30px;
  }
  .footer_wrapper .first_column {
    margin-top: unset !important;
  }
  .footer_wrapper .footer_column {
    margin-top: 27px;
  }
  .footer_wrapper .footer_column .sub_logo {
    margin-bottom: unset !important;
  }
  .footer_wrapper .footer_column .site_creative {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_wrapper .footer_column .site_creative .m_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
